body {
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f2f2;
}
/*--
NAVBAR
--*/
.nav-bar {
    color: #ffffff;
    background-color: #4d4d4d;
    box-sizing: border-box;
    height: 86px;
    width: auto;
}

.div-nav-bar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.img-nav-bar {
    float: left;
    height: 50%;
    margin-top: 1.25em;
}

ul {
    list-style-type: none;
    display: flex;
    list-style: none;
    padding: 0;
    text-align: right;
}

li {
    text-align:center;
    padding-left: 1rem;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    padding-right: 20px;
}

.nav-bar a:hover {
    color: #f61018;
}

.nav-ul-right-center{
    float: right;
    height: 50%;
    margin-top: 0.625em;
}
/*--
NAVBAR
--*/

/*--
SECTION ONE
--*/
.section-one {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
.section-div-center {
    text-align: center;
    margin-bottom: 5em;
    font-family: Roboto, sans-serif;
}

.h4-div-section-one {
    text-transform: uppercase;
    font-size: 20px;
}

.h2-div-section-one {
    font-size: 72px;
    margin: 0;
}

.p-div-section-one {
    margin-bottom: 5em;
}

.img-scale {
    width: 500px;
    height: 580px;
}

.div-portfolio {
    margin: 0;
    padding: 0;
    float: right;
    width: 640px;
    height: 580px;
    background-color: #4d4d4d;
}

.a-div-portfolio {
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 2em;
}

.div-center {
    text-align: center;
}

.a-button {
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 5em;
}

.a-button:hover {
    color: #111111;
    border-color: white;
    background-color: white;
    
}

.div-links {
    margin-top: 4em;
    word-spacing: 10px;
    text-align: center;
}

/*--
SECTION ONE
--*/

/*--
SECTION TWO
--*/

.section-two {
    font-family: Roboto, sans-serif;
    margin-top: 5em;
    margin-bottom: -85px;
}

.section-two-div-img-scale {
    width: 100%;
    height: 50%;
}

.h2-text {
    text-transform: uppercase;
    font-size: 60px;
}

.p-text {
    font-size: 20px;
    margin-top: -50px;
}

.a-div {
    margin-top: 60px;
}
.a-button-two {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(232,95,76); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

.a-button-two:hover { 
    background: rgb(212,75,56);
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--
SECTION TWO
--*/

/*--
FOOTER
--*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    color: #ffffff;
    background-color: #333333;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    font-size: 0.875rem;
    text-align: center;
}

.div-footer {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--
FOOTER
--*/