body {
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    background-color: #f2f2f2;
}
/*--
NAVBAR
--*/
.nav-bar {
    color: #ffffff;
    background-color: #4d4d4dd7;
    box-sizing: border-box;
    height: 86px;
    width: auto;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.div-nav-bar {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.img-nav-bar {
    float: left;
    height: 50%;
    margin-top: 1.25em;
}

ul {
    list-style-type: none;
    display: flex;
    list-style: none;
    padding: 0;
    text-align: right;
}

li {
    text-align:center;
    padding-left: 1rem;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    padding-right: 20px;
}

.nav-bar a:hover {
    color: #f61018;
}

.nav-ul-right-center{
    float: right;
    height: 50%;
    margin-top: 1em;
}
/*--
NAVBAR
--*/

/*--
SECTION ONE
--*/
.section-one {
    position: relative;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}
.section-div-center {

    text-align: center;
    margin-bottom: 5em;
    font-family: Roboto, sans-serif;
}

.h4-div-section-one {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 12.5%;


    animation-name: h4-appearnce;
    animation-duration: 2s;
}

@-webkit-keyframes h4-appearance {
    0% {
        margin-top: -4rem;
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.h2-div-section-one {
    font-size: 72px;
    margin: 0;
    z-index: 50;

    animation-name: h2-appearanc;
    animation-duration: 2s;
}

@-webkit-keyframes h2-appearance {
    0% {
        margin-top: -8rem;
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.par-animation {
    animation-name: p-appearane;
    animation-duration: 2s;
}

@-webkit-keyframes p-appearance {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.p-div-section-one {
    margin-bottom: 5em;
}

.div-flex {
    position: static;
}

.img-scale {
    width: 500px;
    height: 580px;
}

    /*-- 
    ANIMATION 
    --*/

    .img-scale-animation {
        width: 500px;
        position:relative;

        animation-name: img-appearance;
        animation-duration: 1.75s;
        animation-fill-mode: backwards;
    }

    @-webkit-keyframes img-appearance {
        0% {
            opacity: 0;
            margin-left: -25rem;
        }
        100% {
            opacity: 1;
        }
    }

    /*-- 
    ANIMATION 
    --*/

.div-portfolio {
    margin-top: -51.25%;
    padding: 0;
    float: right;
    width: 640px;
    height: 580px;
    background-color: #4d4d4d;
}

.a-div-portfolio {
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 2em;

    animation-name: paragraph-appearance;
    animation-duration: 2s;
}

    /*-- 
    ANIMATION 
    --*/

    @-webkit-keyframes paragraph-appearance {
        0% {
            opacity: 0;
            scale: 0;
        }
        100% {
            opacity: 1;
            scale: 1
        }
    }

    /*-- 
    ANIMATION 
    --*/

.div-center {
    position: relative;
    text-align: center;

    animation-name: button-appearance;
    animation-duration: 1.75s;
}

    /*-- 
    ANIMATION 
    --*/

    @-webkit-keyframes button-appearance {
        0% {
            padding-top: 25rem;
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /*-- 
    ANIMATION 
    --*/

.a-button {
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    transition: 0.2s;
    margin-top: 5em;
}

.a-button:hover {
    color: #111111;
    border-color: white;
    background-color: white;
    
}

.div-links {
    margin-top: 4em;
    word-spacing: 10px;
    text-align: center;

    animation-name: links-appearance;
}

    /*-- 
    ANIMATION 
    --*/

    @-webkit-keyframes links-appearance {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    /*-- 
    ANIMATION 
    --*/

/*--
SECTION ONE
--*/

/*--
SECTION TWO
--*/

.section-two {
    font-family: Roboto, sans-serif;
    margin-top: 5em;
    margin-bottom: -85px;
}

.section-two-div-img-scale {
    width: 100%;
    height: 50%;
}

.h2-text {
    text-transform: uppercase;
    font-size: 60px;
}

.p-text {
    font-size: 20px;
    margin-top: -50px;
}

.a-div {
    margin-top: 60px;
}
.a-button-two {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(232,95,76); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
}

.a-button-two:hover { 
    background: rgb(212,75,56);
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--
SECTION TWO
--*/

/*--
FOOTER
--*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    color: #ffffff;
    background-color: #333333;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    font-size: 0.875rem;
    text-align: center;
}

.div-footer {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*--
FOOTER
--*/