<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav-bar.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header class="nav-bar">
        <div class="div-nav-bar">
          <a class="img-nav-bar" href="index.html"><img src="images/default-logo.png" alt="Главная"></a>
          <nav class="nav-ul-right-center">
            <ul>
              <li class=""><a href="index.html" style="color: #478ac9">Главная</a></li>
              <li class=""><a href="About-us.html">О нас</a></li>
              <li class=""><a href="Contacts.html">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </header>
</body>
</html>